@use '../../abstracts/' as *;

.todo-box {
  align-items: center;
  background-color: var(--clr-todo-box);
  border-top: 1px solid var(--clr-outline);
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  width: 100%;

  @include breakpoint(medium) {
    padding: 20px 24px;
  }

  &--create {
    @extend .todo-box;

    border-radius: 5px;
    border: none;
    box-shadow: var(--box-shadow-primary);
    margin-bottom: 16px;
    padding: 14px 20px;

    @include breakpoint(medium) {
      margin-bottom: 24px;
      padding: 20px 24px;
    }

    & > form {
      height: 100%;
      width: 100%;
    }

    & input {
      background-color: inherit;
      caret-color: var(--clr-text-active);
      color: var(--clr-text);
      font-size: rem(12);
      height: 100%;
      width: 100%;

      @include breakpoint(medium) {
        font-size: rem(18);
      }
    }

    & input:hover {
      cursor: pointer;
    }

    & input:focus {
      background-color: inherit;
      outline: none;
    }

    & input::placeholder {
      color: var(--clr-text-inactive);
    }
  }

  &--first {
    @extend .todo-box;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
  }

  &--last {
    @extend .todo-box;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--box-shadow-primary);
    padding: 22px 20px;
  }

  &--states {
    @extend .todo-box;

    border-radius: 5px;
    border: none;
    box-shadow: var(--box-shadow-primary);
    color: var(--clr-text-inactive);
    display: flex;
    font-size: rem(14);
    font-weight: 700;
    gap: 18px;
    justify-content: center;
    margin-top: 16px;

    & > p:hover {
      color: var(--clr-text);
      cursor: pointer;
    }
  }

  &__states {
    color: var(--clr-text-inactive);
    display: flex;
    font-size: rem(14);
    font-weight: 700;
    gap: 18px;
    text-align: center;

    & > p:hover {
      color: var(--clr-text);
      cursor: pointer;
    }
  }

  &__main {
    align-items: center;
    display: flex;
    gap: 12px;

    @include breakpoint(medium) {
      gap: 24px;
    }
  }

  &__text {
    color: var(--clr-text);
    font-size: rem(12);

    @include breakpoint(medium) {
      font-size: rem(18);
    }

    &--active {
      @extend .todo-box__text;

      color: var(--clr-text-active);
      font-size: rem(14);
    }

    &--disabled {
      @extend .todo-box__text;

      color: var(--clr-text-disabled);
      text-decoration: line-through;
    }

    &--functions {
      @extend .todo-box__text;

      color: var(--clr-text-inactive);

      @include breakpoint(medium) {
        font-size: rem(14);
      }
    }

    &--functions:hover {
      color: var(--clr-text);
      cursor: pointer;
    }
  }
}
