@use '../../abstracts/' as *;

.btn-todo {
  align-items: center;
  background: var(--clr-todo-box);
  border-radius: 100%;
  border: 1px solid var(--clr-outline);
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;

  @include breakpoint(medium) {
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
  }

  &--checked {
    @extend .btn-todo;

    background-image: var(--clr-check-background);
    border: none;

    & > img {
      pointer-events: none;
    }
  }

  &:hover {
    border: none;
    max-height: 18px;
    max-width: 18px;
    min-height: 18px;
    min-width: 18px;

    @include breakpoint(medium) {
      max-height: 22px;
      max-width: 22px;
      min-height: 22px;
      min-width: 22px;
    }
  }
}

.btn-todo-wrapper {
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  order: -1;

  @include breakpoint(medium) {
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
  }

  &:hover {
    background-image: var(--clr-check-background);
  }
}

.btn-delete {
  cursor: pointer;
  fill: var(--clr-cross);
  height: 12px;
  margin-left: 12px;
  width: 12px;

  @include breakpoint(medium) {
    opacity: 0;
    height: 18px;
    margin-left: 24px;
    width: 18px;
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
