@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Oswald:wght@700&display=swap');

:root {
    --clr-light: #F1F0EA;
    --clr-gray: #D8D7D5;
    --clr-gray-darker: #c3c1be;
    --clr-dark: #534B52;
    --clr-primary: #313C51;
    --clr-secondary: #BED2F3;
    --clr-high: #EF9A9A;
    --clr-med: #FFF59D;
    --clr-low: #A5D6A7;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: repeat(2, auto), repeat(2, auto);
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

button {
    background: none;
    border: none;
    font-family: inherit;
}

a {
    color: inherit;
}

ul {
    list-style: none;
}

.header {
    background: var(--clr-dark);
    color: var(--clr-light);
    width: inherit;
    padding: 16px 32px;
}

.header-container {
    display: flex;
    justify-content: space-between;

}

.title {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
}

.sidebar {
    background: var(--clr-gray);
    padding: 32px;
    width: fit-content;
    min-height: 100vh;
}

.side-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
    font-size: 18px;
}

.side-item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 180px;
    padding: 4px;
    font-size: 16px;
}

.side-item:hover {
    background: var(--clr-gray-darker);
    cursor: pointer;
}

#add-project {
    margin-block: 24px;
    font-weight: 700;
}

.side-title {
    margin-block: 24px;
}

.content {
    display: flex;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-container {
    width: inherit;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 32px 128px;
}

.main-title {
    margin-bottom: 32px;
}

.add-todo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    padding: 8px;
    font-weight: 700;
}

.add-todo:hover {
    background: var(--clr-light);
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.todo {
    display: flex;
    width: 100%;
    background: var(--clr-light);
    padding: 12px;
    font-size: 14px;
}

.todo-done {
    background: var(--clr-gray);
}

.todo-high {
    border-left: 6px solid var(--clr-high);
}

.todo-med {
    border-left: 6px solid var(--clr-med);
}

.todo-low {
    border-left: 6px solid var(--clr-low);
}

.todo-left,
.todo-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.todo-right {
    margin-left: auto;
}

.todo-title-done {
    text-decoration: line-through;
}

.todo-desc {
    font-size: 10px;
}

.todo-due {
    font-weight: 300;
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--clr-dark);
    color: var(--clr-light);
    width: 100vw;
    padding: 16px;
}

.btn {
    border-radius: 8px;
    padding: 16px 24px;
    font-weight: 700;
    box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background: var(--clr-primary);
    color: var(--clr-light);
}

.btn-outline {
    background: none;
    border: 2px solid var(--clr-primary);
    color: var(--clr-primary);
    padding: 8px 16px;
}