@use '../functions' as f;

.todo-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 327px;
  margin-bottom: 40px;
}

.logo {
  color: var(--clr-neutral-200);
  font-weight: 700;
  letter-spacing: 10px;
  font-size: f.rem(24);
}
