@use '../abstracts/' as *;

#theme-toggle {
  cursor: pointer;
  fill: #fff;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;

  @include breakpoint(medium) {
    max-height: 26px;
    max-width: 26px;
    min-height: 26px;
    min-width: 26px;
  }
}
