@use '../abstracts/' as *;

main {
  align-items: center;
  background-color: var(--clr-main-background);
  background-image: url(./assets/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  max-height: inherit;
  min-height: inherit;
  padding: 48px 24px;

  @include breakpoint(small) {
    background-image: url(./assets/bg-desktop-light.jpg);
  }
}
